/* Author: Oluwaperosayemi Adetunji
Explantion: This handles the styles for both the login and signup pages. */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* SIGN UP BACKGROUND */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  /* keeps aspect ratio, fills screen */
  z-index: -1;        /* behind everything */
}




body{
    /* background-color: #191919; */
    /* background-image: url('../img/ski2.svg'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* color: white; */
    /* font-family: 'Questrial', sans-serif; */
}

header{
    position: fixed;
    /* background-color: black; */
}
nav{
    display: flex;
    align-items: center; /* Y axis */
    padding: 0 60px;
    height: 60px;
}
/* nav video{
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
} */
nav section{
    /* background-color: red; */
    font-size: 24px;
    font-weight: bold;
    color: white;
    opacity: 0.8;
}

a{
    color: #ffffff;
    opacity: 0.8;
    text-decoration: none;
    border-bottom: .5px solid white;
}
a:hover{
    opacity: 1;
    cursor: pointer;
    border-bottom: .5px solid transparent;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* X axis*/ 
}

main{
    height: 100vh;
    /* background: black; */
}
.login-header, .signup-header{
    text-align: center;
    /* background-color: red; */
    margin-bottom: 40px;
    color: white;
}
main div h2{
    /* background: blue; */
    margin-bottom: 10px;
}
main div p{
    font-size: 14px;
    color: #979797;
}

form{
    /* margin-top: 15vh; */
    height: auto;
    width: 30%;
    padding: 4% 4%;
    background-color: #121212f3;
    border: solid 1px #333;
    border-radius: 20px;
}

form section{
    /* background: purple; */
    position: relative;
    /* width: 100%; */
    /* height: 100%; */
    /* display: flex; */
    /* justify-content: space-between;
    align-items: center; */
    /* padding: 1%; */
    margin: 0 0 15px 0;
}


.textfield-labels{
    /* background-color: yellow; */
    font-size: 13px;
    color: white;
    opacity: 0.6;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease  ;
}


.textfields{
    background-color: #1d1d1d;
    color: white;
    padding: 23px 25px;
    width: 100%;
    border: solid .2px #59595955;
    border-radius: 50px;
}

.textfield-container:has(.textfields:focus) .textfield-labels, .textfield-container:has(.textfields:not(:placeholder-shown)) .textfield-labels{
    top: 11px;
    /* left: 25px; */
    font-size: 11px;
    /* background-color: blue; */
    opacity: 0.6;
    padding: 0 1px;
}

.textfield-checkbox{
    display: block;
}
.textfield-checkbox :nth-child(1){
    margin-right: 2px;
}
.textfield-checkbox div{
    margin-bottom: 5px;
}
.textfield-checkbox div p, .textfield-checkbox div label{
    color: #595959;
    font-size: 12px;
    text-align: center;
}

.submit{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.submit input{
    width: 100%;
    padding: 20px 25px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background: white;
}
.submit input:hover{
    cursor: pointer;
    background: #c2c2c2;
}

.bottom-link{
    text-align: right;
    font-size: 13px;
}









/* LOGIN STYLE */
.login-main{
    height: 100;
    margin: 0;
    background-color: #121212;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}
.login-main > video{
    /* width: 100%; */
    height: 110%;
    /* width: 20; */
    object-fit: fill;
    /* z-index: -1; */
}
.login-main > form{
    position: relative;
    margin: 0 auto;
    
}